Package: python-pypol
Source: pypol
Version: 0.5-1
Architecture: all
Maintainer: Michele Lacchia <michelelacchia@gmail.com>
Installed-Size: 268
Section: python
Priority: optional
Homepage: http://pypol.altervista.org
Description: A new pure-Python polynomial library
 Pypol is a new, pure-Python library that allows you to manipulate polynomials.
 .
 It offers several functions and modules, including:
  * a base class that represent a Polynomial object, with over 30 methods
  * utility functions such as polynomial derivative, integration, etc.
  * the most common root-finding algorithms
  * some generator-functions for the most common polynomial series
