Source: pypol
Section: python
Priority: optional
Maintainer: Michele Lacchia <michelelacchia@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs (>= 0.4), python (>= 2.6)
Build-Depends-Indep: python-support (>= 0.6)
Standards-Version: 3.9.1
Homepage: http://pypol.altervista.org
#Vcs-Git: git://git.debian.org/collab-maint/pypol.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pypol.git;a=summary

Package: python-pypol
Architecture: all
Depends: ${misc:Depends}
Description: A new pure-Python polynomial library
 Pypol is a new, pure-Python library that allows you to manipulate polynomials.
 .
 It offers several functions and modules, including:
  * a base class that represent a Polynomial object, with over 30 methods
  * utility functions such as polynomial derivative, integration, etc.
  * the most common root-finding algorithms
  * some generator-functions for the most common polynomial series
