#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --install-lib=/usr/share/python-pypol

install::
	sudo python setup.py install

clean::
	rm -rf build/
	rm -rf ../build/
	rm -rf python-module-stampdir/
	rm -rf python-pypol/
	rm -f *.log
	rm -f *.debhelper
	rm -f *~
	rm -f *.substvar
	rm -f files
